* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #FADFA1;
    padding: 16px 0;
    color: #000;
    display: flex;
    border-bottom: 16px solid #FFA07A;
    justify-content: center;
}

header button {
    margin-left: 16px;
}

body{
    background-color: #FFF4EA;
}

form {
    padding: 24px 0;
    text-align: center;
    display: block;
}